# Your requirements go here

bidict==0.23.1
blinker==1.9.0
click==8.1.8
dnspython==2.7.0
eventlet==0.33.3
Flask==2.3.3
Flask-SocketIO==5.3.4
greenlet==3.1.1
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
pip==24.2
python-engineio==4.5.1
python-socketio==5.8.0
pywebio==1.8.3
setuptools==75.1.0
six==1.17.0
tornado==6.4.2
ua-parser==1.0.0
ua-parser-builtins==0.18.0.post1
user-agents==2.2.0
Werkzeug==2.3.7
wheel==0.44.0
zipp==3.21.0
